.cats-card {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cats-card::after {
  content: "";
  position: absolute;
  width: 225px;
  height: 225px;
  transition: width 0.5s, height 0.5s;
}
.cats-card:hover::after {
  content: "";
  width: 257px;
  height: 256px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  transition: width 0.5s, height 0.5s;
}

.cats-card__image {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.cats-card__btn {
  width: 40px;
  height: 37px;
  visibility: hidden;
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  bottom: 8px;
  right: 4px;
  background-image: url("../../images/like.svg");
}

.cats-card__btn:hover {
  background-image: url("../../images/liked.svg");
}

.cats-card__btn_active {
  background-image: url("../../images/liked.svg");
}

.cats-card:hover .cats-card__btn {
  visibility: visible;
  transition: visibility 1s linear;
}
