.cats {
  max-width: 1316px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.cats__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.25px;
}

.page__cats {
  margin: 48px auto 31px;
}
