.header {
  background: #2196f3;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}
.header__container {
  max-width: 1316px;
  margin: 0 62px;
  width: 100%;
}

.header__menu {
  display: flex;
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header__menu-item {
  display: flex;
  transition: background 0.5s;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #2196f3;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.header__menu-item:hover {
  transition: background-color 0.3s;
  transition: color 0.3s;
  background-color: #1e88e5;
  color: #fff;
}

.header__menu-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  padding: 23px 17px;
}

.header__menu-item_active {
  transition: background-color 0.3s;
  transition: color 0.3s;
  background-color: #1e88e5;
  color: #fff;
}

@media screen and (max-width: 496px) {
  .header__menu {
    justify-content: center;
    display: block;
  }
  .header__menu-list {
    flex-direction: column;
  }
}
